mpdlabel {
	-moz-binding: url("resource://minion/mpdControls.xml#mpdLabel")
}
mpdtime {
	-moz-binding: url("resource://minion/mpdControls.xml#mpdTime")
}
mpdvolume {
	-moz-binding: url("resource://minion/mpdControls.xml#mpdVolume")
}
mpdcontrols {
	-moz-binding: url("resource://minion/mpdControls.xml#mpdPlayback")
}
mpdplaylist {
    -moz-binding: url("resource://minion/playlistBindings.xml#mpdPlaylist")
}
mpdbrowser {
    -moz-binding: url("resource://minion/collectionBindings.xml#mpdBrowser")
}
mpdservers {
    -moz-binding: url("resource://minion/mpdControls.xml#mpdServers")
}
mpdtoggle {
    -moz-binding: url("resource://minion/mpdControls.xml#mpdToolbarButton")
}
mpdalbumcover {
    -moz-binding: url("resource://minion/mpdControls.xml#mpdAlbumCover")
}
