toolbar, statusbar, label {
    overflow: hidden;
}

.mpm_topToolbar {
    padding-left: 5px;
    padding-right: 5px;
}

mpdalbumcover > image{
    margin: 5px 10px 3px 10px;
    padding: 0px;
    border: 1px solid Gray;
    height: 70px !important;
    width: 70px !important;
}

.Title {
    font-size: 20px;
}

mpdtime {
	-moz-box-pack: center;
	-moz-box-align: center;
}

textbox {
	min-width: 50px !important;
	width: 10em;
}

treecol {
	min-width: 0px !important;
}

.tagsContentLabel {
	text-align: center;
	padding-top: 6px;
}

.cwd {
	font-weight: bold;
	height: 1.5em;
	padding-top: auto;
	padding-bottom: auto;
	overflow: hidden;
}


.Title {
    font-weight: bold;
}
.Artist {
  font-style: italic;
}

treechildren::-moz-tree-cell-text(Artist) {
    font-style: italic;
}


.mpm_browser_image_box {
	margin-right: 0px !important;
	padding-right: 0px !important;
	margin-top: 0px !important;
	padding-top: 0px !important;
}
.mpm_browser_image_box + .mpm_browser > tree {
	margin-left: 0px !important;
	padding-left: 0px !important;
	border-left: none;
}
