radio[pane] {
	list-style-image: url('chrome://minion/content/images/settings-icons.png');
}
radio[pane=pane1] {
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}
radio[pane=pane2] {
	-moz-image-region: rect(32px, 32px, 64px, 0px);
}
