/*
//      Music Player Minion  Copyright 2008, Chris Seickel
//
//      This program is free software; you can redistribute it and/or modify
//      it under the terms of the GNU General Public License as published by
//      the Free Software Foundation; either version 2 of the License, or
//      (at your option) any later version.
//
//      This program is distributed in the hope that it will be useful,
//      but WITHOUT ANY WARRANTY; without even the implied warranty of
//      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//      GNU General Public License for more details.
//
//      You should have received a copy of the GNU General Public License
//      along with this program; if not, write to the Free Software
//      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
//      MA 02110-1301, USA.
*/
/* Style settings common to all minion pages/windows */
window, page, toolbar, toolbarbutton, button, scale, textbox, tabbox, tabpanels, tabpanel, tabs, tab {
    font-family: Sans, Tahoma;
    font-size: 12px;
    -moz-appearance: none !important;
    background-color: black;
    color:white;
	border: none;
	min-width: 0px;
    }
toolbarseparator {
    border-left: 2px solid black;
    border-right: 2px solid black;
    -moz-border-left-colors: #250205 #510004;
    -moz-border-right-colors: #250205 #510004;
    background-color: #370003;
}

splitter {
    border-left: 2px solid black;
    border-right: 2px solid black;
    -moz-border-left-colors:#171717 #0A0A0A;
    -moz-border-right-colors:#171717 #0A0A0A;
    background-color:#040404;
}
splitter:hover {
    border-left: 2px solid black;
    border-right: 2px solid black;
    -moz-border-left-colors:#202020 #151515;
    -moz-border-right-colors:#202020 #151515;
    background-color: #101010;
}

textbox {
	background-image: none;
    background-color: black !important;
	color: white;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    -moz-border-radius: 3px;
    -moz-border-bottom-colors: #1a1a1a #272727 #333333;
    -moz-border-top-colors: #1a1a1a #272727 #333333;
    -moz-border-left-colors: #1a1a1a #272727 #333333;
    -moz-border-right-colors: #1a1a1a #272727 #333333;
}

toolbar > textbox {
	background-image: none;
    background-color: #4E0005 !important;
    -moz-border-radius: 3px;
    -moz-border-top-colors: #1D0001 #2B0002 #390003;
    -moz-border-bottom-colors: #1D0001 #2B0002 #390003;
    -moz-border-right-colors: #1D0001 #2B0002 #390003;
    -moz-border-left-colors: #1D0001 #2B0002 #390003;
}

.mpdTimeProgressmeter > .scale-slider {
    -moz-appearance: none !important;
    background-image: url("chrome://minion/content/images/progress.png");
    background-repeat: repeat;
}
.mpdVolumeScale {
	min-width: 75px !important;
}
.mpdVolumeScale > .scale-slider {
    -moz-appearance: none !important;
	min-width: 75px !important;
	max-width: 75px !important;
    background-image: url("chrome://minion/content/images/vol_back_waves.png");
}
progressmeter {
    -moz-appearance: none !important;
    background-color: black;
    border: 2px solid transparent;
    -moz-border-top-colors: #303030 #151515;
    -moz-border-bottom-colors: #666666 #303030;
    -moz-border-right-colors: #666666 #303030;
    -moz-border-left-colors: #303030 #151515;
}
tree, .mpm_browser_image_box  {
    -moz-appearance: none !important;
    background-color: #1C1C1C;
    border: none !important;
    color: white;
}


.Title {
    font-weight: bold;
    color: #FBFBC7;
    }

#cur_album_art {
    margin: 5px;
    margin-left: 12px;
    padding: 0px;
    border: 1px solid Gray;
    height: 70px !important;
    width: 70px !important;
    }
toolbarbutton, scale {
    background-color: transparent !important;
    border: 1px solid transparent !important;
}
toolbarbutton:hover {
    background-image: url("chrome://minion/content/images/toolbar-high.png");
    background-repeat: repeat;
    border: 1px solid #BBBBBB;
}
toolbarbutton:active {
    background-image: url("chrome://minion/content/images/toolbar-active.png");
    background-repeat: repeat;
    border: 1px solid black;
}
toolbar > toolbarbutton, toolbar > menulist, toolbar > scale {
    background-image: none !important;
    background-color: transparent !important;
    border: 2px solid transparent !important;
}
.mpm_btn_Location, tab {
    background: #303030;
    color:white;
	padding: 4px;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    -moz-border-radius: 3px;
    -moz-border-bottom-colors: #1a1a1a #272727 #333333;
    -moz-border-top-colors: #1a1a1a #272727 #333333;
    -moz-border-left-colors: #1a1a1a #272727 #333333;
    -moz-border-right-colors: #1a1a1a #272727 #333333;
}
toolbar > toolbarbutton:hover, .mpm_btn_Location:hover, toolbar > menulist:hover {
    background-image: none;
    background-color: #760008;
    -moz-border-top-colors: #2B0002 #99000A;
    -moz-border-bottom-colors: #2B0002 #99000A;
    -moz-border-right-colors: #2B0002 #99000A;
    -moz-border-left-colors: #2B0002 #99000A;
}
toolbar > toolbarbutton:active, .mpm_btn_Location:active, toolbar > menulist:active {
    background-image: none;
    background-color: #4E0005;
    -moz-border-top-colors: #1D0001 #390003;
    -moz-border-bottom-colors: #1D0001 #390003;
    -moz-border-right-colors: #1D0001 #390003;
    -moz-border-left-colors: #1D0001 #390003;
}
treecol, listheader, treecolpicker, .fake_treecol{
    -moz-appearance:none !important;
    background-color:black;
    color:white;
	margin: 0px;
	padding-left: 5px;
    border-bottom: 1px solid black;
    border-top:7px solid black;
    border-right:1px solid black;
    border-left:0px solid black;
    -moz-border-bottom-colors: #444444;
    -moz-border-top-colors: #333333 #444444 #666666 #555555 #444444 #333333 #151515;
    -moz-border-right-colors:#444444;
}
toolbar{
    background-image: url("chrome://minion/content/images/toolbar.png");
    background-repeat: repeat-x;
    height: 35px;
    border: none;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.mpm_topToolbar {
    background-image: url("chrome://minion/content/images/playback.png");
    background-repeat: repeat-x;
    color:white;
    border-bottom: 5px solid black;
    border-top: none;
    -moz-border-bottom-colors: #000000 #303030 #555555 #2a2a2a #1a1a1a;
}
.mpm_navbar {
    background: #232323;
    color:white;
    border-bottom: 3px solid black;
    border-top: 2px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    -moz-border-bottom-colors: #000000 #555555 #000000;
    -moz-border-top-colors: #555555 #000000;
}
.mpm_navbar > toolbarbutton {
    background: #232323;
    border: 3px solid #232323;
    padding: 0px;
    margin: 0px;
}

.mpm_navbar > toolbarbutton:hover, .mpm_btn_Location:hover, tab:hover, tab[selected=true]{
    background: #404040;
    color:white;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    -moz-border-radius: 3px;
    -moz-border-bottom-colors: #1a1a1a #272727 #333333;
    -moz-border-top-colors: #1a1a1a #272727 #333333;
    -moz-border-left-colors: #1a1a1a #272727 #333333;
    -moz-border-right-colors: #1a1a1a #272727 #333333;
}
.mpm_navbar > toolbarbutton:active, .mpm_btn_Location:active{
    background: #151515;
    color:white;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    -moz-border-radius: 3px;
    -moz-border-bottom-colors: #303030 #272727 #1a1a1a;
    -moz-border-top-colors: #303030 #272727 #1a1a1a;
    -moz-border-left-colors: #303030 #272727 #1a1a1a;
    -moz-border-right-colors: #303030 #272727 #1a1a1a;
}
tabbox, tabpanels, tabpanel{
	padding: 0px !important;
	margin: 0px !important;
	border: 0px !important;
	background-color: black;
}
.tagsContentLabel, tab[selected=true] {
	color: white;
}

.mpm_browser_image {
	margin: 5px;
	border: 2px solid #303030;
}

treechildren::-moz-tree-cell-text() {
    color: #EDEDED;
    }
treechildren::-moz-tree-cell-text(Title) {
    color: white;
    }
treechildren::-moz-tree-cell-text(Title_file) {
    color: #FAFABE;
    }
treechildren::-moz-tree-cell-text(Title_song) {
    color: #FAFABE;
    }
treechildren::-moz-tree-cell-text(currentsong) {
    font-weight: bold;
    }


treechildren::-moz-tree-row {
  border-bottom: 1px solid #151515;
  min-height: 20px;
  height: 1.4em;
}
treechildren::-moz-tree-row(selected) {
  background-color: black;
}
treechildren::-moz-tree-row(even) {
  background-color: #303030;
}
treechildren::-moz-tree-row(odd) {
  background-color: #232323;
}

treechildren::-moz-tree-row(selected, focus, even) {
  background-color: #450004;
}

treechildren::-moz-tree-row(selected, focus, odd) {
  background-color: #330003;
}

treechildren::-moz-tree-row(current, focus) {
  border: 1px dotted #6D0505;
}

treechildren::-moz-tree-cell {
  border-right: 1px dotted #444444;
}
.tree-columnpicker-icon {
    list-style-image: url("chrome://minion/content/images/columnpicker.png");
}
