treechildren::-moz-tree-image {
    margin: 0px 5px 0px 1px;
    }

#mpm_search_clear {
    list-style-image: url('chrome://minion/content/clear_find.png')
    }

/* ICONS for Navigation Tree */
#files_home {
    list-style-image: url('chrome://minion/content/home.png')
    }
#files_rescan {
    list-style-image: url('chrome://minion/content/rescan.png')
    }
#files_settings {
    list-style-image: url('chrome://minion/content/settings.png')
    }

/*ICONS for Files Tree */
#files_back {
    list-style-image: url('chrome://minion/content/back.png')
    }
#files_forward {
    list-style-image: url('chrome://minion/content/forward.png')
    }
#files_add {
    list-style-image: url('chrome://minion/content/add.png')
    }
#files_selectAll {
    list-style-image: url('chrome://minion/content/yes.png')
    }
treechildren::-moz-tree-image(Name_Artist) {
    list-style-image: url("chrome://minion/content/artist.png");
    }
treechildren::-moz-tree-image(Name_Album) {
    list-style-image: url("chrome://minion/content/album.png");
    }
treechildren::-moz-tree-image(Name_file) {
    list-style-image: url("chrome://minion/content/song.png");
    }
treechildren::-moz-tree-image(Name_directory) {
    list-style-image: url("chrome://minion/content/folder.png");
    }
treechildren::-moz-tree-image(Name_playlist) {
    list-style-image: url("chrome://minion/content/playlist.png");
    }

treechildren::-moz-tree-image(Title_file) {
    list-style-image: url("chrome://minion/content/song.png");
    }
treechildren::-moz-tree-image(Title_Artist) {
    list-style-image: url("chrome://minion/content/artist.png");
    }
treechildren::-moz-tree-image(Title_Album) {
    list-style-image: url("chrome://minion/content/album.png");
    }
treechildren::-moz-tree-image(Title_directory) {
    list-style-image: url("chrome://minion/content/folder.png");
    }
treechildren::-moz-tree-image(Title_playlist) {
    list-style-image: url("chrome://minion/content/playlist.png");
    }

#album_artBox {
    width: 170px;
    margin: 0px !important;
    border-right: none !important;
    }
#album_artBox > listcell {
    height: 170px;
}
#album_art {
    margin: 4px;
    padding: 0px;
    border: 1px solid DarkGray;
    }
#album_art.scaled {
    max-width: 73px;
    max-height: 73px;
    }
.files {
    min-width: 200px;
    border-left: none !important;
    margin-left: 0px !important;
    }
