/*
//      Music Player Minion  Copyright 2008, Chris Seickel
//
//      This program is free software; you can redistribute it and/or modify
//      it under the terms of the GNU General Public License as published by
//      the Free Software Foundation; either version 2 of the License, or
//      (at your option) any later version.
//
//      This program is distributed in the hope that it will be useful,
//      but WITHOUT ANY WARRANTY; without even the implied warranty of
//      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//      GNU General Public License for more details.
//
//      You should have received a copy of the GNU General Public License
//      along with this program; if not, write to the Free Software
//      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
//      MA 02110-1301, USA.
*/

treechildren::-moz-tree-image {
    margin: 0px 5px 0px 1px;
    }
#mpm_search_clear {
    list-style-image: url('chrome://minion/content/clear_find.png')
    }
.search {
    min-width: 20px !important
}
/* ICONS for Navigation Tree */
#files_home {
    list-style-image: url('chrome://minion/content/home.png')
    }
#files_rescan {
    list-style-image: url('chrome://minion/content/rescan.png')
    }
#files_settings {
    list-style-image: url('chrome://minion/content/settings.png')
    }

/*ICONS for Files Tree */
#files_back {
    list-style-image: url('chrome://minion/content/back.png')
    }
#files_forward {
    list-style-image: url('chrome://minion/content/forward.png')
    }
#files_add {
    list-style-image: url('chrome://minion/content/add.png')
    }
#files_selectAll {
    list-style-image: url('chrome://minion/content/yes.png')
    }
#files_bookmark {
    list-style-image: url('chrome://minion/content/folder_favorites.png')
    }
treechildren::-moz-tree-image(Name) {
    list-style-image: url("chrome://minion/content/unknown.png");
    }
treechildren::-moz-tree-image(Title_song) {
    list-style-image: none;
    }
treechildren::-moz-tree-image(Name_Artist) {
    list-style-image: url("chrome://minion/content/artist.png");
    margin: 0px 3px 0px 1px;
    }
treechildren::-moz-tree-image(Name_Composer) {
    list-style-image: url("chrome://minion/content/artist.png");
    margin: 0px 3px 0px 1px;
    }
treechildren::-moz-tree-image(Name_Album) {
    list-style-image: url("chrome://minion/content/album.png");
    }
treechildren::-moz-tree-image(Name_file) {
    list-style-image: url("chrome://minion/content/song.png");
    }
treechildren::-moz-tree-image(Name_directory) {
    list-style-image: url("chrome://minion/content/folder.png");
    }
treechildren::-moz-tree-image(Name_playlist) {
    list-style-image: url("chrome://minion/content/playlist.png");
    }


treechildren::-moz-tree-image(Title_Genre) {
    list-style-image: url("chrome://minion/content/unknown.png");
    }
treechildren::-moz-tree-image(Title_Date) {
    list-style-image: url("chrome://minion/content/unknown.png");
    }
treechildren::-moz-tree-image(Title_file) {
    list-style-image: url("chrome://minion/content/song.png");
    }
treechildren::-moz-tree-image(Title_Artist) {
    list-style-image: url("chrome://minion/content/artist.png");
    margin: 0px 3px 0px 1px;
    }
treechildren::-moz-tree-image(Title_Composer) {
    list-style-image: url("chrome://minion/content/artist.png");
    margin: 0px 3px 0px 1px;
    }
treechildren::-moz-tree-image(Title_Album) {
    list-style-image: url("chrome://minion/content/album.png");
    }
treechildren::-moz-tree-image(Title_directory) {
    list-style-image: url("chrome://minion/content/folder.png");
    }
treechildren::-moz-tree-image(Title_playlist) {
    list-style-image: url("chrome://minion/content/playlist.png");
    }
treechildren::-moz-tree-image(Title_custom) {
    list-style-image: url("chrome://minion/content/custom.png");
    }

#album_artBox {
    width: 170px;
    margin: 0px !important;
    border-right: none !important;
    }
#album_artBox > listcell {
    height: 160px;
}
#album_art {
    margin: 4px;
    padding: 0px;
    border: 1px solid DarkGray;
    }
#album_art.scaled {
    max-width: 73px;
    max-height: 73px;
    }
listitem {
    height: 150px;
}
listitem[selected="true"]{
    background-color: #1C1C1C !important;
}
.files {
    min-width: 200px;
    height: 375px;
    border-left: none !important;
    margin-left: 0px !important;
    }

.mpm_statusbar {
}

.mpm_statuslabel {
    color: #888888;
}
#mpd_sent {
    -moz-appearance: none !important;
    border: none !important;
    background-color: black !important;
    min-height: 0px !important;
    max-height: 1.3em;
    min-width: 50px !important;
    padding-top: 1px !important;
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
#mpd_sent [active] {
    min-width: 100px !important;
    color: white;
    }
#mpm_cmd_save {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
