/* Style settings common to all WebAMP2 pages/windows */
box, tree, listbox  {
    -moz-appearance: none !important;
    }

.Title {
    font-weight: bold;
    }
.Artist {
  font-style: italic;
  }


#cur_album_art {
    margin: 4px;
    margin-left: 12px;
    padding: 0px;
    border: 1px solid Gray;
    height: 73px;
    width: 73px;
    }

treecol, listheader {
    -moz-appearance: button;
    margin: 0px;
    }
treechildren::-moz-tree-cell-text() {
    color: #5a6264;
    }
treechildren::-moz-tree-cell-text(Title) {
    color: Black;
    }
treechildren::-moz-tree-cell-text(Artist) {
    font-style: italic;
    color: #5a6264;
    }

