mpdlabel {
	-moz-binding: url("chrome://miniondev/content/bindings/coreBindings.xml#mpdObserverLabel")
}
mpdtime {
	-moz-binding: url("chrome://miniondev/content/bindings/coreBindings.xml#mpdTime")
}
mpdvolume {
	-moz-binding: url("chrome://miniondev/content/bindings/coreBindings.xml#mpdVolume")
}
mpdcontrols {
	-moz-binding: url("chrome://miniondev/content/bindings/coreBindings.xml#mpdPlaybackControls")
}
mpdconnection {
	-moz-binding: url("chrome://miniondev/content/bindings/coreBindings.xml#mpdConnection")
}
mpdoutputs {
	-moz-binding: url("chrome://miniondev/content/bindings/coreBindings.xml#mpdOutputs")
}
mpdplaylist {
	-moz-binding: url("chrome://miniondev/content/bindings/playlistBindings.xml#mpdPlaylist")
}
mpdbrowser {
	-moz-binding: url("chrome://miniondev/content/bindings/treeBindings.xml#mpdBrowser")
}
mpdsqlbrowser {
	-moz-binding: url("chrome://miniondev/content/bindings/coreBindings.xml#mpdSQLBrowser")
}