window {
	background-color: black;
}
.mpdButtonPrevious {
	list-style-image: url("chrome://minion/content/images/prev_large.png");
}
.mpdButtonPlay {
	list-style-image: url("chrome://minion/content/images/play.png");
}
.mpdStatePause > .mpdButtonPlay {
	list-style-image: url("chrome://minion/content/images/play_large.png");
}
.mpdButtonPause {
	list-style-image: url("chrome://minion/content/images/pause_large.png");
}
.mpdButtonStop {
	list-style-image: url("chrome://minion/content/images/stop_large.png");
}
.mpdButtonNext {
	list-style-image: url("chrome://minion/content/images/next_large.png");
}
.mpdButtonConnected {
	font-weight: bold;
}



treechildren::-moz-tree-cell-text() {
    color: #EDEDED;
    }
treechildren::-moz-tree-cell-text(title) {
    color: white;
    }
treechildren::-moz-tree-cell-text(artist){
    font-style: italic;
    }
treechildren::-moz-tree-cell-text(time_file){
    text-align: right;
    }
treechildren::-moz-tree-cell-text(title_file) {
    color: #FAFABE;
    }
treechildren::-moz-tree-cell-text(title_song) {
    color: #FAFABE;
    }
treechildren::-moz-tree-cell-text(currentsong) {
    font-weight: bold;
    }
treechildren::-moz-tree-image(play_currentsong) {
    list-style-image: url("chrome://minion/content/images/play_small.png");
	margin-right: 4px;
    }
treechildren::-moz-tree-image(pause_currentsong) {
    list-style-image: url("chrome://minion/content/images/pause_small.png");
	margin-right: 4px;
    }
treechildren::-moz-tree-image(stop_currentsong) {
    list-style-image: none;
    }
treechildren::-moz-tree-image(name_updating) {
    list-style-image: url("chrome://minion/content/images/rescan_small.png");
    }
treechildren::-moz-tree-image(title_updating) {
    list-style-image: url("chrome://minion/content/images/rescan_small.png");
    }

treechildren {
	background-color: #151515;
}
treechildren::-moz-tree-row {
  border-bottom: 1px solid transparent;
  min-height: 20px;
  height: 1.4em;
}
treechildren::-moz-tree-row(closed) {
  border-bottom: 1px solid #151515;
}
treechildren::-moz-tree-row(open, odd) {
  border-top: 1px solid #434343;
}
treechildren::-moz-tree-row(open, even) {
  border-top: 1px solid #505050;
}
#playlist treechildren::-moz-tree-row(Artist, odd) {
  border-bottom: 1px solid #101010;
}
#playlist treechildren::-moz-tree-row(Artist, even) {
  border-bottom: 1px solid #151515;
}
#playlist {
	min-height: 400px;
	min-width: 200px;
}
treechildren::-moz-tree-row(selected) {
  background-color: black;
}
treechildren::-moz-tree-row(even) {
    background-color: #303030;
}
treechildren::-moz-tree-row(odd) {
    background-color: #232323;
}

treechildren::-moz-tree-row(selected, focus) {
  background-color: black;
}

treechildren::-moz-tree-row(current, focus) {
  border: 1px dotted #6D0505;
}

treechildren::-moz-tree-cell {
  border-right: 1px dotted #444444;
}
.tree-columnpicker-icon {
    list-style-image: url("chrome://minion/content/images/columnpicker.png");
}


treechildren::-moz-tree-image(title_song) {
    list-style-image: none;
    }

treechildren::-moz-tree-image() {
    margin-right: 2px;
    }

treechildren::-moz-tree-image(title_genre) {
    list-style-image: url("chrome://minion/content/images/unknown.png");
    }
treechildren::-moz-tree-image(title_topgenre) {
    list-style-image: url("chrome://minion/content/images/unknown.png");
    }
treechildren::-moz-tree-image(title_date) {
    list-style-image: url("chrome://minion/content/images/unknown.png");
    }
treechildren::-moz-tree-image(title_file) {
    list-style-image: url("chrome://minion/content/images/song.png");
    }
treechildren::-moz-tree-image(title_artist) {
    list-style-image: url("chrome://minion/content/images/artist.png");
    margin: 0px 3px 0px 1px;
    }
treechildren::-moz-tree-image(title_topartist) {
    list-style-image: url("chrome://minion/content/images/artist.png");
    margin: 0px 3px 0px 1px;
    }
treechildren::-moz-tree-image(title_composer) {
    list-style-image: url("chrome://minion/content/images/artist.png");
    margin: 0px 3px 0px 1px;
    }
treechildren::-moz-tree-image(title_album) {
    list-style-image: url("chrome://minion/content/images/album.png");
    }
treechildren::-moz-tree-image(title_directory) {
    list-style-image: url("chrome://minion/content/images/folder.png");
    }
treechildren::-moz-tree-image(title_playlist) {
    list-style-image: url("chrome://minion/content/images/playlist.png");
    }
treechildren::-moz-tree-image(title_custom) {
    list-style-image: url("chrome://minion/content/images/custom.png");
    }