window {
	background-color: black;
}
.mpdButtonPrevious {
	list-style-image: url("chrome://miniondev/content/images/prev_large.png");
}
.mpdButtonPlay {
	list-style-image: url("chrome://miniondev/content/images/play.png");
}
.mpdStatePause > .mpdButtonPlay {
	list-style-image: url("chrome://miniondev/content/images/play_large.png");
}
.mpdButtonPause {
	list-style-image: url("chrome://miniondev/content/images/pause_large.png");
}
.mpdButtonStop {
	list-style-image: url("chrome://miniondev/content/images/stop_large.png");
}
.mpdButtonNext {
	list-style-image: url("chrome://miniondev/content/images/next_large.png");
}
.mpdButtonConnected {
	font-weight: bold;
}

.albumdisplay {
	font-weight: bold;
}

.title {
	font-weight: bold;
}

.artist {
	font-style: italic;
}

#playlist{
	min-width: 262px !important;
	width: 262px !important;
}

#playlist .title, #playlist .artist, #playlist .file {
    margin: 0px;
	padding:  1px 2px 0px 0px;
}

#playlist .outerTitleBox {
	max-height: 34px;
	min-height: 34px;
	overflow: hidden;
	display: tabel-cell;
	vertical-align: middle;
}

#playlist .innerTitleBox {
	overflow: expand;
}

#playlist .title{
    margin-top: auto;
}

#playlist richlistitem {
	overflow: expand;
}

#playlist listbox {
	margin-left: 20px;
	overflow: -moz-scrollbars-none;
}

.isLink:hover {
	color: blue;
	text-decoration: underline;
}

.isLink:active {
	color: black;
	text-decoration: underline;
}
.albumCover {
	max-width: 73px;
	max-height: 66px;
	min-width: 73px;
	min-height: 66px;
	margin: 4px;
	background-color: #303030;
	border: 1px solid #101010;
	border-left: 8px solid #151515;
}

#playlist image:hover {
	margin-top: 3px;
	margin-bottom:5px;
}
#playlist image:active {
	margin-top: 5px;
	margin-bottom:3px;
}
treechildren::-moz-tree-cell-text() {
    color: #303030;
    }
treechildren::-moz-tree-cell-text(title) {
    color: black;
    }
treechildren::-moz-tree-cell-text(artist){
    font-style: italic;
    }
treechildren::-moz-tree-cell-text(time_file){
    text-align: right;
    }
treechildren::-moz-tree-cell-text(title_file) {
    }
#playlist treechildren::-moz-tree-cell-text(title_song) {
    color: #FAFABE;
    }
treechildren::-moz-tree-cell-text(currentsong) {
    font-weight: bold;
    }
treechildren::-moz-tree-image(play_currentsong) {
    list-style-image: url("chrome://miniondev/content/images/play_small.png");
	margin-right: 4px;
    }
treechildren::-moz-tree-image(pause_currentsong) {
    list-style-image: url("chrome://miniondev/content/images/pause_small.png");
	margin-right: 4px;
    }
treechildren::-moz-tree-image(stop_currentsong) {
    list-style-image: none;
    }
treechildren::-moz-tree-image(name_updating) {
    list-style-image: url("chrome://miniondev/content/images/rescan_small.png");
    }
treechildren::-moz-tree-image(title_updating) {
    list-style-image: url("chrome://miniondev/content/images/rescan_small.png");
    }

#playlist treechildren {
	background-color: #151515;
}
#playlist treechildren::-moz-tree-row {
  border-bottom: 1px solid transparent;
  min-height: 20px;
  height: 1.4em;
}
#playlist treechildren::-moz-tree-row(closed) {
  border-bottom: 1px solid #151515;
}
#playlist treechildren::-moz-tree-row(open, odd) {
  border-top: 1px solid #434343;
}
#playlist treechildren::-moz-tree-row(open, even) {
  border-top: 1px solid #505050;
}
#playlist treechildren::-moz-tree-row(Artist, odd) {
  border-bottom: 1px solid #101010;
}
#playlist treechildren::-moz-tree-row(Artist, even) {
  border-bottom: 1px solid #151515;
}
#playlist {
	min-height: 400px;
	min-width: 200px;
}
#playlist treechildren::-moz-tree-row(selected) {
  background-color: black;
}
#playlist treechildren::-moz-tree-row(even) {
    background-color: #303030;
}
#playlist treechildren::-moz-tree-row(odd) {
    background-color: #232323;
}

#playlist treechildren::-moz-tree-row(selected, focus) {
  background-color: black;
}

#playlist treechildren::-moz-tree-row(current, focus) {
  border: 1px dotted #6D0505;
}

#playlist treechildren::-moz-tree-cell {
  border-right: 1px dotted #444444;
}
.tree-columnpicker-icon {
    list-style-image: url("chrome://miniondev/content/images/columnpicker.png");
}


treechildren::-moz-tree-image(title_song) {
    list-style-image: none;
    }

treechildren::-moz-tree-image(title) {
    list-style-image: url("chrome://miniondev/content/images/custom.png");
    margin: 0px 4px 0px 2px;
    }

treechildren::-moz-tree-image(title_genre),
treechildren::-moz-tree-image(title_topgenre) {
    list-style-image: url("chrome://miniondev/content/images/unknown.png");
    }
treechildren::-moz-tree-image(title_date) {
    list-style-image: url("chrome://miniondev/content/images/unknown.png");
    }
treechildren::-moz-tree-image(title_file),
treechildren::-moz-tree-image(title_songs){
    list-style-image: url("chrome://miniondev/content/images/song.png");
    }
treechildren::-moz-tree-image(title_artist),
treechildren::-moz-tree-image(title_artists),
treechildren::-moz-tree-image(title_topartist){
    list-style-image: url("chrome://miniondev/content/images/artist.png");
    margin: 0px 3px 0px 1px;
}
treechildren::-moz-tree-image(title_topartist) {
    list-style-image: url("chrome://miniondev/content/images/artist.png");
    margin: 0px 3px 0px 1px;
    }
treechildren::-moz-tree-image(title_composer) {
    list-style-image: url("chrome://miniondev/content/images/artist.png");
    margin: 0px 3px 0px 1px;
    }
treechildren::-moz-tree-image(title_album),
treechildren::-moz-tree-image(title_albums){
    list-style-image: url("chrome://miniondev/content/images/album.png");
}
treechildren::-moz-tree-image(title_directory) {
    list-style-image: url("chrome://miniondev/content/images/folder.png");
    }
treechildren::-moz-tree-image(title_playlist) {
    list-style-image: url("chrome://miniondev/content/images/playlist.png");
    }
