mpdlabel {
	-moz-binding: url("chrome://minion/content/bindings/mpmBindings.xml#mpdObserverLabel")
}
mpdtime {
	-moz-binding: url("chrome://minion/content/bindings/mpmBindings.xml#mpdTime")
}
mpdvolume {
	-moz-binding: url("chrome://minion/content/bindings/mpmBindings.xml#mpdVolume")
}
mpdcontrols {
	-moz-binding: url("chrome://minion/content/bindings/mpmBindings.xml#mpdPlaybackControls")
}
mpdconnection {
	-moz-binding: url("chrome://minion/content/bindings/mpmBindings.xml#mpdConnection")
}