mpdlabel {
	-moz-binding: url("chrome://minion/content/bindings/coreBindings.xml#mpdObserverLabel")
}
mpdtime {
	-moz-binding: url("chrome://minion/content/bindings/coreBindings.xml#mpdTime")
}
mpdvolume {
	-moz-binding: url("chrome://minion/content/bindings/coreBindings.xml#mpdVolume")
}
mpdcontrols {
	-moz-binding: url("chrome://minion/content/bindings/coreBindings.xml#mpdPlaybackControls")
}
mpdconnection {
	-moz-binding: url("chrome://minion/content/bindings/coreBindings.xml#mpdConnection")
}
mpdplaylist {
	-moz-binding: url("chrome://minion/content/bindings/coreBindings.xml#mpdPlaylist")
}