/*
//      Music Player Minion  Copyright 2008, Chris Seickel
//
//      This program is free software; you can redistribute it and/or modify
//      it under the terms of the GNU General Public License as published by
//      the Free Software Foundation; either version 2 of the License, or
//      (at your option) any later version.
//
//      This program is distributed in the hope that it will be useful,
//      but WITHOUT ANY WARRANTY; without even the implied warranty of
//      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//      GNU General Public License for more details.
//
//      You should have received a copy of the GNU General Public License
//      along with this program; if not, write to the Free Software
//      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
//      MA 02110-1301, USA.
*/
/* Style settings common to all minion pages/windows */
window, page, toolbar, toolbarbutton, button, menubar {
    font-family: Sans, Tahoma;
    font-size: 12px;
    -moz-appearance: none !important;
    background-color: black;
    color:white;
    }
toolbarseparator {
    border-left: 2px solid black;
    border-right: 2px solid black;
    -moz-border-left-colors: #250205 #510004;
    -moz-border-right-colors: #250205 #510004;
    background-color: #370003;
}
splitter {
    border-left: 2px solid black;
    border-right: 2px solid black;
    -moz-border-left-colors:#171717 #0A0A0A;
    -moz-border-right-colors:#171717 #0A0A0A;
    background-color:#040404;
}
splitter:hover {
    border-left: 2px solid black;
    border-right: 2px solid black;
    -moz-border-left-colors:#202020 #151515;
    -moz-border-right-colors:#202020 #151515;
    background-color: #101010;
}
.progress-bar {
    -moz-appearance: none !important;
    background-image: url("chrome://minion/content/progress.png");
    background-repeat: repeat;
}
progressmeter {
    -moz-appearance: none !important;
    background-color: black;
    border: 2px solid transparent;
    -moz-border-top-colors: #303030 #151515;
    -moz-border-bottom-colors: #666666 #303030;
    -moz-border-right-colors: #666666 #303030;
    -moz-border-left-colors: #303030 #151515;
}
#files, #playlist, #album_artBox  {
    -moz-appearance: none !important;
    background-color: #1C1C1C;
    border: none !important;
    color: white;
    }

.Title {
    font-weight: bold;
    color: #FBFBC7;
    }
.Artist {
  font-style: italic;
  }


#cur_album_art {
    margin: 5px;
    margin-left: 12px;
    padding: 0px;
    border: 1px solid Gray;
    height: 70px !important;
    width: 70px !important;
    }
#close {
    list-style-image: url("chrome://minion/content/exit.png");
}
#restore{
    list-style-image: url("chrome://minion/content/restore.png");
}
.toolbarbutton-menu-dropmarker {
    margin-left: 4px;
    list-style-image: url("chrome://minion/content/drop.png")
}
toolbarbutton {
    background-color: transparent;
    border: 1px solid transparent;
}
toolbarbutton:hover {
    background-image: url("chrome://minion/content/toolbar-high.png");
    background-repeat: repeat;
    border: 1px solid #BBBBBB;
}
toolbarbutton:active {
    background-image: url("chrome://minion/content/toolbar-active.png");
    background-repeat: repeat;
    border: 1px solid black;
}
#files_toolbar > toolbarbutton, #playlist_toolbar > toolbarbutton {
    background-image: none;
    background-color: transparent;
    border: 2px solid transparent;
}
#files_toolbar > toolbarbutton:hover, #playlist_toolbar > toolbarbutton:hover {
    background-image: none;
    background-color: #760008;
    -moz-border-top-colors: #2B0002 #99000A;
    -moz-border-bottom-colors: #2B0002 #99000A;
    -moz-border-right-colors: #2B0002 #99000A;
    -moz-border-left-colors: #2B0002 #99000A;
}
#files_toolbar > toolbarbutton:active, #playlist_toolbar > toolbarbutton:active {
    background-image: none;
    background-color: #4E0005;
    -moz-border-top-colors: #1D0001 #390003;
    -moz-border-bottom-colors: #1D0001 #390003;
    -moz-border-right-colors: #1D0001 #390003;
    -moz-border-left-colors: #1D0001 #390003;
}
treecol, listheader, treecolpicker{
    -moz-appearance:none !important;
    background-color:black;
    color:white;
    border-bottom: 1px solid black;
    border-top:7px solid black;
    border-right:1px solid black;
    border-left:0px solid black;
    -moz-border-bottom-colors: #444444;
    -moz-border-top-colors: #333333 #444444 #666666 #555555 #444444 #333333 #151515;
    -moz-border-right-colors:#444444;
}
#playback_controls {
    background-image: url("chrome://minion/content/playback.png");
    background-repeat: repeat-x;
    color:white;
    border-bottom: 5px solid black;
    border-top: none;
    -moz-border-bottom-colors: #000000 #303030 #555555 #2a2a2a #1a1a1a;
}
#cur_song {
    padding: 4px;
}
#playlist_toolbar, #files_toolbar{
    background-image: url("chrome://minion/content/toolbar.png");
    background-repeat: repeat-x;
    height: 35px;
    border: none;
}
#playlist_menu {
    color: white;
}
#mpm_navbar {
    background: #232323;
    color:white;
    border-bottom: 3px solid black;
    border-top: 2px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    -moz-border-bottom-colors: #000000 #555555 #000000;
    -moz-border-top-colors: #555555 #000000;
}
#mpm_navbar > toolbarbutton {
    background: #232323;
    border: 3px solid #232323;
}
#mpm_navbar > button{
    background: #303030;
    color:white;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    -moz-border-radius: 3px;
    -moz-border-bottom-colors: #1a1a1a #272727 #333333;
    -moz-border-top-colors: #1a1a1a #272727 #333333;
    -moz-border-left-colors: #1a1a1a #272727 #333333;
    -moz-border-right-colors: #1a1a1a #272727 #333333;
}
#mpm_navbar > toolbarbutton:hover, button:hover{
    background: #404040;
    color:white;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    -moz-border-radius: 3px;
    -moz-border-bottom-colors: #1a1a1a #272727 #333333;
    -moz-border-top-colors: #1a1a1a #272727 #333333;
    -moz-border-left-colors: #1a1a1a #272727 #333333;
    -moz-border-right-colors: #1a1a1a #272727 #333333;
}
#mpm_navbar > toolbarbutton:active, button:active{
    background: #151515;
    color:white;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    -moz-border-radius: 3px;
    -moz-border-bottom-colors: #303030 #272727 #1a1a1a;
    -moz-border-top-colors: #303030 #272727 #1a1a1a;
    -moz-border-left-colors: #303030 #272727 #1a1a1a;
    -moz-border-right-colors: #303030 #272727 #1a1a1a;
}
#mpm_navbar > button:active {
    background: #151515;
    color:white;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    -moz-border-radius: 3px;
    -moz-border-bottom-colors: #303030 #272727 #1a1a1a;
    -moz-border-top-colors: #303030 #272727 #1a1a1a;
    -moz-border-left-colors: #303030 #272727 #1a1a1a;
    -moz-border-right-colors: #303030 #272727 #1a1a1a;
}
treechildren::-moz-tree-cell-text() {
    color: #EDEDED;
    }
treechildren::-moz-tree-cell-text(Title) {
    color: white;
    }
treechildren::-moz-tree-cell-text(Artist) {
    font-style: italic;
    }
treechildren::-moz-tree-cell-text(Title_file) {
    color: #FAFABE;
    }
treechildren::-moz-tree-cell-text(Title_song) {
    color: #FAFABE;
    }
treechildren::-moz-tree-cell-text(currentsong) {
    font-weight: bold;
    }
treechildren::-moz-tree-image(play_currentsong) {
    list-style-image: url("chrome://minion/content/play_small.png");
    }
treechildren::-moz-tree-image(pause_currentsong) {
    list-style-image: url("chrome://minion/content/pause_small.png");
    }
treechildren::-moz-tree-image(stop_currentsong) {
    list-style-image: none;
    }
treechildren::-moz-tree-image(Name_updating) {
    list-style-image: url("chrome://minion/content/rescan_small.png");
    }
treechildren::-moz-tree-image(Title_updating) {
    list-style-image: url("chrome://minion/content/rescan_small.png");
    }


treechildren::-moz-tree-row {
  border-bottom: 1px solid transparent;
  min-height: 18px;
  height: 1.3em;
}
#files > treechildren::-moz-tree-row {
  border-bottom: 1px solid #151515;
  min-height: 20px;
  height: 1.4em;
}
treechildren::-moz-tree-row(selected) {
  background-color: black;
}
treechildren::-moz-tree-row(even) {
  background-color: #303030;
}
treechildren::-moz-tree-row(odd) {
  background-color: #232323;
}

treechildren::-moz-tree-row(selected, focus) {
  background-color: black;
}

treechildren::-moz-tree-row(current, focus) {
  border: 1px dotted #6D0505;
}

treechildren::-moz-tree-cell {
  border-right: 1px dotted #444444;
}
.tree-columnpicker-icon {
    list-style-image: url("chrome://minion/content/columnpicker.png");
}
